html{
     scroll-behavior:smooth ; 
}       


body{
     font-size:var(--font-body, 1rem)  ; 
}

.header-top{
     display:flex ;
     flex-direction:row ;
     justify-content:space-evenly ; 
     align-items: center;
     flex-wrap:nowrap ; 
     padding:20px ;
     margin-top:30px ; 
     margin-bottom:80px ; 
}       

.header-top nav ul{
     display:flex ;
     flex-direction:row ;
     flex-wrap:nowrap ; 
     gap:23px ;
}       

.header-top .btn-entrar{
      padding:15px ; 
      border:none ; 
      border-radius:12px ; 
      background-color:var(--laranja-suave,hsl(12, 88%, 59%)) ;
      width:150px ; 
      font-family:var(--font-family, 'Be Vietnam Pro') ;          
      font-size:14px ;
      font-weight:var(--fw-medio, 500) ;
      color:var(--cinza-claro, hsl(0, 0%, 98%) ) ;     
}         




.header-top .btn-entrar:hover{
      background-color:var(--hover-btn, hsla(12, 97%, 63%, 0.7)) ; 
      transition:background-color 0.10s ease ;
      cursor:pointer ; 
      
}

.header-top .btn-entrar:active{   
    background-color:var(--active-btn, hsl(12, 88%, 59%) ) ; 
    transition:background-color 0.10s ease ;      
}


/* .NAV-LINKS CONJUNTO DE LINKS DA NAVEGACAO: */


.nav-links{
      display:flex;
      gap:28px ;
}

.nav-links ul li{
     list-style-type:none ; 
}       

.nav-links ul li a{
     text-decoration:none ; 
     font-family:var(--font-family,'Be Vietnam Pro') ;          
     color:var(--cinza-escuro,hsl(233, 12%, 13%) );
 }       

 .nav-links ul li a:hover{     
     color:var(--houver-links, hsl(0, 0%, 58%) ) ;
     transition:color 0.10s ease ;     
 }       
 
 .nav-links ul li a:active{
      color:var(--active-links,  hsl(233, 12%, 13%) ) ;
      transition:color 0.10s ease ; 
 }       


/* <MAIN> CONTEÚDO PRINCIPAL DA PÁGINA: */

main{
      display:flex ;
      flex-direction:column ; 
      flex-wrap:wrap ;
      gap:20px ;  
      height:1100px ; 
      margin-bottom:200px ;
}

/* SECAO 01 DE CONTEUDO: */

.secoes-01-02{
     margin-left:100px ;
     margin-right:160px ;
}

.secoes-03-04{
     
     margin-right:100px ;

}


.secoes-01-02,.secoes-03-04{
      margin-bottom:140px ;
      

}

.secao01 .secao-caixa{
      display:flex ; 
      flex-direction:column ; 
      flex-wrap:nowrap ; 
      justify-content:center ; 
      align-items:center ; 
      gap:27px ;
      padding:30px ; 
      width:500px ;
      height:400px ;
}         

.secao01 .secao-caixa h2{
     font-size:43px ;
     font-family:var(--font-family,'Be Vietnam Pro') ; 
     font-weight:var(--fw-bold, 700) ;
     color:var(--azul, hsl(228, 39%, 23%)) ; 
     width:400px ;
}

.secao-caixa div{
     display:flex ;
     flex-direction:column ; 
     flex-wrap:nowrap ;
     justify-content:flex-start ;
     gap:20px ; 
     margin-left:20px ;

}         

.secao-caixa div p{
     line-height: 1.8;
     font-family:var(--font-family,'Be Vietnam Pro') ; 
     font-weight:var(--fw-normal, 400) ; 
     color:var(--cinza-claro-medio,hsl(0, 0%, 58%))  ;
}

.secao-caixa div .btn-entrar{
      width:150px ; 
      padding:12px ; 
      border-radius:12px ;
      border:none ; 
      background-color:var(--laranja-suave) ; 
      font-family:var(--font-family,'Be Vietnam Pro') ; 
      font-weight:var(--fw-medio, 500) ;
      font-size:16px ;
      color:var(--cinza-claro) ; 
}         

.secao-caixa div .btn-entrar:hover{
      background-color:var(--hover-btn, hsla(12, 97%, 63%, 0.7)) ; 
      transition:background-color 0.10s ease ;
      cursor:pointer ; 
}

.secao-caixa div .btn-entrar:active{
      background-color:var(--active-btn, hsl(12, 88%, 59%) ) ; 
      transition:background-color 0.10s ease ;
}

/* ------------------------------------------------- */


/* SECAO 02 DE CONTEUDO: */


.secao02{
     margin-top:120px ;
}         

.secao04{
      margin-top:70px ;
}




.secao02 .secao-caixa{
     display:flex ; 
     flex-direction:column ; 
     flex-wrap:nowrap ; 
     justify-content:center ; 
     align-items:center ; 
     gap:27px ;
     padding:30px ; 
     width:500px ;
     height:400px ;
}         

.secao02 .secao-caixa h2{
     font-size:43px ;
     font-family:var(--font-family,'Be Vietnam Pro') ; 
     font-weight:var(--fw-bold, 700) ;
     color:var(--azul, hsl(228, 39%, 23%)) ; 
     width:500px ;
     margin-left:100px ; 
}


.secao02 .secao-caixa div{
     color:var(--cinza-claro-medio,hsl(0, 0%, 58%) ) ; 
}




/* ------------------------------------------------- */


/* SECAO 03 DE CONTEUDO: */


.secao04 .secao-caixa{
    display:flex ;
    flex-direction:column ;
    flex-wrap:nowrap ;
    justify-content:flex-start ;
    gap:27px ;
}

.secao04 .secao-caixa ul li{
      display:flex ;
      flex-direction:row ;
      justify-content:flex-start ;
      gap:20px ;
      list-style-type:none ; 
      list-style-position: inside;
}  

.secao-caixa ul li .bullet-numerico{
     
      border:none ; 
      border-radius:18px ;
      background-color:var(--laranja-suave, hsl(12, 88%, 59%) ) ;
      padding:22px ;
      width:160px ;
      height:30px ;
      display:flex ;
      flex-direction:row ;
      flex-wrap:nowrap ; 
      justify-content: center;
      align-items: center;
      color:var(--cinza-claro, hsl(0, 0%, 98%) ) ;
      font-weight:var(fw-bold, 700) ; 
      font-size:19px ;
      font-family:var(--font-family, 'Be Vietnam Pro') ;
}         

.secao-caixa ul li{
      width:560px ; 
      margin-top:30px ;
}

.secao-caixa ul li p{
     font-family:var(--font-family, 'Be Vietnam Pro') ; 
     color:var(--cinza-claro-medio, hsl(0, 0%, 58%)) ;
     line-height: 1.8;
}

ul li .header-item{
      display:flex ;
      flex-direction:column ;
      flex-wrap:nowrap ; 
      gap:25px; 
}              

.header-item h3{
     margin-top:20px ;
     color: var(--azul, hsl(228, 39%, 23%) ) ;
     font-family:var(--font-family, 'Be Vietnam Pro') ;
     
}

/* 1° RODAPE  FINAL DA PÁGINA */


.rodape .enter-start-bg{
       display:flex ;
       flex-direction:row ;
       flex-wrap:nowrap ; 
       justify-content:space-around;
       align-items:center ; 
       background-color:var(--laranja-suave) ;
       margin-top:300px ;
       padding:27px ;
       height:300px ;
}              

.rodape .enter-start-bg h2{
      font-size:45px ; 
      font-weight:var(--fw-bold, 700) ;
      font-family:var(--font-family,'Be Vietnam Pro') ;
      color:var(--cinza-claro,hsl(0, 0%, 98%) ) ;
      width:490px ;

}


.rodape .enter-start-bg .btn-started{
       padding:20px ;
       width:160px ;
       border-radius:18px ;
       border:none ; 
       font-weight:var(--fw-medio,500); 
       font-family:var(--font-family,'Be Vietnam Pro') ;
       font-size:14px ;
       color:var(--laranja-suave) ;
}         

.rodape .enter-start-bg .btn-started:hover{
      cursor:pointer ;
      color:var(--houver-white-btn, hsla(12, 95%, 63%, 0.7) ) ; 
      transition:color 0.10s ease ; 
}

.rodape .enter-start-bg .btn-started:active{
       color:var(--active-white-btn, hsl(12, 88%, 59%) ) ;
       transition:color 0.10s ease ; 
}

/* 2° RODAPE  FINAL DA PÁGINA */             

.rodape .footer-bg{
      display:flex ;
      flex-direction:row ;
      flex-wrap:nowrap ;
      justify-content:space-around ; 
      align-items: center;
      height:300px ;

      background-color: var(--cinza-escuro,hsl(233, 12%, 13%) ) ; 

}         

/* .CONTACTS: */

.rodape .footer-bg .contacts{
      display:flex ;
      flex-direction:column  ;
      align-items:center ;
      flex-wrap:nowrap ;
      gap:80px ;
}              

.contacts img{
      width: 240px ; 
      height:40px ;
}

.contacts .icons-contacts-links{
      display:flex ;
      flex-direction:row ;
      flex-wrap:nowrap ; 
      gap:10px ;
}

.contacts .icons-contacts-links a i{
     font-size:26px ;
     color:var(--cinza-claro, hsl(0, 0%, 98%) ) ;
     
}         

.contacts .icons-contacts-links a i:hover{
    cursor:pointer ;
    color: var(--houver-social, hsl(12, 88%, 59%) ) ;  
    transition: color 0.10s ease ; 
}         

.contacts .icons-contacts-links a i:active{
      color:var(--acitive-social, hsl(0, 0%, 98%) ); 
      transition: color 0.10s ease ;       
}         




.nav-links-footer ul {
      display:flex ;
      flex-direction:column ;
      align-items:center ;
      flex-wrap: wrap;
      height:150px ;
      gap:150px ;
}

.nav-links-footer ul div{
     display:flex ;
     flex-direction: column ;
     flex-wrap: nowrap;
     gap:20px ;
}


.nav-links-footer ul li a{
      color:var(--cinza-claro,hsl(0, 0%, 98%));
      font-size:16px ;
      font-family:var(--font-family) ;
}         

.nav-links-footer ul li a:hover{
      cursor:pointer ; 
      color:var(--houver-contacts, hsl(12, 88%, 59%) )  ;
      transition:color 0.10s ease ; 
}                 

.nav-links-footer ul li a:active{
      color:var(--active-contacts, hsl(0, 0%, 98%));
      transition:color 0.10s ease ; 

}

.nav-links-footer ul li{
      list-style-type: none;
      list-style-position: inside;
}

.nav-links-footer .pesquisar{
       display:flex ;
       flex-direction:row ;   
}   

/* .PESQUISAR: */

.pesquisar{
      display:flex ;
      flex-direction: row ;
      gap:20px ;
}

.pesquisar input[type="search"]{
      padding:15px ;
      border-radius:19px ;
      border:none ;
      font-family:var(--font-family) ;
      width:200px;
}

.pesquisar input[type="search"]:focus{
      outline:none ; 
      border:2px solid hsl(234, 89%, 58%) ;    
      transition: border 0.9s ease ; 
}

.pesquisar .btn-go{
      padding:15px ;
      border-radius:19px ;
      width:100px ;
      border:none ;
      font-family:var(--font-family) ;
      background-color:var(--laranja-suave) ;
      color:var(--cinza-claro, hsl(0, 0%, 98%) ) ;
}           

.pesquisar .btn-go:hover{
      cursor:pointer ;
      background-color:var(--go-hover, hsla(12, 95%, 63%, 0.7) ) ; 
      transition:background-color 0.10s ease ; 
}

.pesquisar .btn-go:active{
      background-color:var(--go-active, hsl(12, 88%, 59%)  );   
      transition:background-color 0.10s ease ; 
}


